<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Kontak Tersimpan</title>
</head>
<body class="m-5">
    <h2 style="color: green;" class="d-flex justify-content-center mb-5">Berhasil Disimpan</h2>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Nomor Handphone</th>
                <th>Email</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            {% for index, kontak in tampil_kontak %}
                <tr>
                    <th>{{ index + 1 }}</th>
                    <td>{{ kontak[0] }}</td>
                    <td>{{ kontak[1] }}</td>
                    <td>{{ kontak[2] }}</td>
                    <td>{{ kontak[3] }}</td>
                </tr>
            {% endfor %}
    </table>
    <form action="/">
        <button class="btn btn-outline-primary form-control mt-5">Kembali</button>
    </form>
</body>
</html>