<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='tambah.css') }}" type="text/css">
    <title>Tambah Transaksi</title>
</head>
<body>
    <h1>Tambah Transaksi</h1>
    <p>{{ form.csrf_token }}</p>
    <form method="POST">
        <div class="row mb-3">
          <label for="inputKeterangan" class="col-sm-2 col-form-label">{{ form.keterangan.label }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputKeterangan" name="keterangan">{{ form.keterangan() }}{{ showerror('keterangan')}}
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNominal" class="col-sm-2 col-form-label">{{ form.nominal.label }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNominal" name="nominal">{{ form.nominal() }}{{ showerror('nominal')}}
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTanggal" class="col-sm-2 col-form-label">Tanggal</label>
          <div class="col-sm-10">
            <input type="date" text="tanggal" class="form-control" id="inputTanggal" name="tanggal">
          </div>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Jenis Transaksi</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="jenisTransaksi" id="keluar" value="keluar" checked>
              <label class="form-check-label" for="keluar">
                Keluar
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="jenisTransaksi" id="masuk" value="masuk">
              <label class="form-check-label" for="masuk">
                Masuk
              </label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-outline-dark">Simpan</button>
        <a href="/">
            <button type="button" class="btn btn-outline-dark">Batal</button>
        </a>
    </form>
    <br>
    {% if empty %}
      <div class="alert alert-danger" role="alert">
        Lengkapi form terlebih dahulu...!!!
      </div>
    {% endif %}
    {% if integer %}
      <div class="alert alert-danger" role="alert">
        Masukkan angka pada nominal...!!!
      </div>
    {% endif %}
</body>
</html>