<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaaa</title>
</head>
<body>
    <style>
        * {
            font-family: 'Times New Roman', Times, serif;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;  
    }
    </style>
    <h2 style="margin: 0 auto; text-align: center;">Pemain Top Klasemen Liga Indonesia</h2>
    <br/>
    <div style="margin: 0 auto; width: 80%">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th>Nama</th>
            <th>Profil</th>
            <th>Klub</th>
        </tr>
        <tr>
            <th>Matheus Pato</th>
            <th>Matheus Antonio Souza dos Santos, <a href="/profil/matheus">selengkapnya.</a></th>
            <th><a href="/klub/borneo">Borneo FC</a></th>
        </tr>
        <tr>
            <th>David da Silva</th>
            <th>David Aparecido da Silva, <a href="/profil/david">selegkapnya.</a></th>
            <th><a href="/klub/persib">Persib Bandung</a></th>
        </tr>
        <tr>
            <th>Lulinha</th>
            <th>Luiz Marcelo Morais dos Reis, <a href="/profil/lulinha">selengkapnya.</a></th>
            <th><a href="/klub/madura">Madura United</a></th>
        </tr>
    </table>
    </div>
</body>
</html>