<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh Template Pertama</title>
</head>
<body>
    <h2>Contoh Template Pertama</h2>
    <p>
        str_var = {{ str_var }} <br/>
        int_var = {{ int_var }} <br/>
        float_var = {{ float_var }} <br/>
        list_var = {{ list_var }} <br/>
        dict_var = {{ dict_var }} <br/>
        model.hitungLuas() = {{ model.hitungLuas() }} <br/>
        model.hitungKeliling() = {{ model.hitungKeliling() }} <br/>
    </p>
</body>
</html>