body {
    margin: 20px 100px;
}

h1 {
    text-align: center;
    padding: 30px;
}

.form-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-indent: 5px;
    margin-right: 25px;
}

button {
    background-color: whitesmoke;
    width: 100%;
    margin-top: 10px;
}