body {
    margin: 20px 100px;
    text-align: center;
}

h1 {
    padding: 30px;
}

thead {
    background-color: whitesmoke;
}

.tombol {
    display: block;
    margin-bottom: 64px;
}

.tambah {
    float: left;
}

.edit {
    float: right;
}